.create-new-tag {
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    margin-top: 10px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-title {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.header-close {
    margin-left: 16px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
