.create-new-tag {
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-new-tag th, .create-new-tag td {
    text-align: center;
    vertical-align: middle;
}

.header-row {
    align-items: center;
    margin-bottom: 16px;
}

.header-title {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.header-close {
    margin-left: 16px;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
}

#tagNameInput{
    margin-left: 10px;
}
