.creating-new-workspace {
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 350px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-title {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.header-close {
    margin-left: 16px;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
}

#create-new-workspace-button{
    margin-top: 10px;
}

#nameInput{
    margin-left: 10px;
}