.workspaces-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    margin-left: 20px;
}

.workspaces-page main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}