.login-section
{
    border: 1px solid #ccc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 23px;
    padding-right: 23px;
}

.register-section{
    border: 1px solid #ccc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 23px;
    padding-right: 23px;
}

.register-section td, .login-section td{
    padding: 10px;

}
