.settings-page{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 90vw;
    margin-left: 20px;
}

.settings-right{
    width:60%;
    border: 1px solid white;
}

.settings-left{
    width:40%;
    border: 1px solid white;
    margin-right: 10px;
}

.settings-nav{
    display: flex;
    flex-direction: column;
}

.settings-nav button{
    margin-bottom: 20px;
    width: 80%;
}